<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skills Assessment 5</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <section id="description">
      <h1>Part 4: AJAX</h1>
      <p>
        If you haven't finished Part 1 of this assessment, go back and finish it.
        This part of the assessment won't work unless you've done that.
      </p>
    </section>

    <section id="select-human">
      <h3>Select ID</h3>

      <p>
        Select an ID number to view information about a particular human.
      </p>

      <form id="get-human">
        <label for="human-id">
          Select an ID number:
        </label>
        <select id="human-id" name="human_id">
          <option value="">Choose an ID</option>
          {% for n in range(1, 6) %}
            <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
    </section>

    <section id="display-human">
      <h3>Human Info</h3>

      <dl>
        <dt>First Name</dt>
        <dd id="fname">Unknown</dd>

        <dt>Last Name</dt>
        <dd id="lname">Unknown</dd>

        <dt>Email</dt>
        <dd id="email">Unknown</dd>
      </dl>
    </section>

    <script src="/static/ajax.js"></script>
  </body>
</html>
